src/main/java/META-INF/wsdl/user-wrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.project.my.com/user"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="userService"
	targetNamespace="http://service.project.my.com/user">

	<!-- 基于Document的wrapped方式(推荐) -->

	<wsdl:types>
		<xsd:schema targetNamespace="http://service.project.my.com/user">

			<!-- 方法请求和返回消息定义 -->
			<xsd:element name="add" type="tns:add"/>
			<xsd:element name="addResponse" type="tns:addResponse"/>
			<xsd:element name="delete" type="tns:delete"/>
			<xsd:element name="deleteResponse" type="tns:deleteResponse"/>
			<xsd:element name="list" type="tns:list"/>
			<xsd:element name="listResponse" type="tns:listResponse"/>
			<xsd:element name="login" type="tns:login"/>
			<xsd:element name="loginResponse" type="tns:loginResponse"/>
		
			<!-- user实体定义 -->
			<xsd:complexType name="user">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="nickname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		
			<!-- 消息类型定义 -->
			<xsd:complexType name="add">
				<xsd:sequence>
					<xsd:element name="user" type="tns:user"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="addResponse">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="delete">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="deleteResponse">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="list">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="listResponse">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="user" type="tns:user"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="login">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="loginResponse">
				<xsd:sequence>
					<xsd:element name="user" type="tns:user"/>
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="delete">
		<wsdl:part element="tns:delete" name="parameters" />
	</wsdl:message>
	<wsdl:message name="deleteResponse">
		<wsdl:part element="tns:deleteResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="list">
		<wsdl:part element="tns:list" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listResponse">
		<wsdl:part element="tns:listResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="login">
		<wsdl:part element="tns:login" name="parameters" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="tns:loginResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="userService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:delete" />
			<wsdl:output message="tns:deleteResponse" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="tns:list" />
			<wsdl:output message="tns:listResponse" />
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="tns:login" />
			<wsdl:output message="tns:loginResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="userServiceSoap" type="tns:userService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="http://service.project.my.com/user/add" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://service.project.my.com/user/delete" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="list">
			<soap:operation soapAction="http://service.project.my.com/user/list" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soap:operation soapAction="http://service.project.my.com/user/login" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="userService">
		<wsdl:port binding="tns:userServiceSoap" name="userServicePort">
			<soap:address location="http://localhost:9000/userService" />
		</wsdl:port>
	</wsdl:service>

	<!--
	WSDL文件编写好后, 使用如下命令生成服务接口代码
	wsimport -d . -p com.my.project.service.wrapped -keep -verbose -Xnocompile META-INF/wsdl/user-wrapped.wsdl
	Server启动后生成客户端代码
	wsimport -d . -p com.my.project.service.wrapped.client -keep -verbose -Xnocompile http://localhost:9000/userService?wsdl 
	-->

</wsdl:definitions>
