src/main/java/META-INF/wsdl/user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.project.my.com/user"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="userService"
	targetNamespace="http://service.project.my.com/user">

	<!-- 使用基于Document的wrapped方式(推荐) -->

	<!-- 引入user.xsd, 注意wsdl和xsd文件的namespace要完全一样 -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.project.my.com/user">
			<!-- 使用import可以分别指定namespace -->
			<!-- <xsd:import namespace="http://service.project.my.com/user" schemaLocation="user.xsd"/> -->
			<!-- 使用include需要在schema节点上添加targetNamespace="http://service.project.my.com/user" -->
			<xsd:include schemaLocation="user.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="delete">
		<wsdl:part element="tns:delete" name="parameters" />
	</wsdl:message>
	<wsdl:message name="deleteResponse">
		<wsdl:part element="tns:deleteResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="list">
		<wsdl:part element="tns:list" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listResponse">
		<wsdl:part element="tns:listResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="login">
		<wsdl:part element="tns:login" name="parameters" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="tns:loginResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="userService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:delete" />
			<wsdl:output message="tns:deleteResponse" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="tns:list" />
			<wsdl:output message="tns:listResponse" />
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="tns:login" />
			<wsdl:output message="tns:loginResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="userServiceSoap" type="tns:userService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="http://service.project.my.com/user/add" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://service.project.my.com/user/delete" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="list">
			<soap:operation soapAction="http://service.project.my.com/user/list" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soap:operation soapAction="http://service.project.my.com/user/login" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="userService">
		<wsdl:port binding="tns:userServiceSoap" name="userServicePort">
			<soap:address location="http://localhost:9000/userService" />
		</wsdl:port>
	</wsdl:service>

	<!--
	WSDL文件编写好后, 使用如下命令生成服务接口代码
	wsimport -d . -p com.my.project.service -keep -verbose -Xnocompile META-INF/wsdl/user.wsdl
	-->

</wsdl:definitions>
