src/main/java/META-INF/wsdl/user-rpc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.project.my.com/user"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="userService"
	targetNamespace="http://service.project.my.com/user">

	<!-- 基于RPC方式绑定消息的WSDL -->

	<wsdl:types>
		<xsd:schema targetNamespace="http://service.project.my.com/user">
			<!-- 定义user类型 -->
			<xsd:complexType name="user">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="nickname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 定义userList类型 -->
			<xsd:complexType name="userList">
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:element name="user" type="tns:user"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<!-- add服务消息 -->
	<wsdl:message name="add">
		<wsdl:part name="user" type="tns:user" />
	</wsdl:message>
	<wsdl:message name="addResponse"/>

	<!-- delete服务消息 -->
	<wsdl:message name="delete">
		<wsdl:part name="username" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="deleteResponse"/>

	<!-- list服务消息 -->
	<wsdl:message name="list"/>
	<wsdl:message name="listResponse">
		<wsdl:part name="userList" type="tns:userList" />
	</wsdl:message>

	<!-- login服务消息 -->
	<wsdl:message name="login">
		<wsdl:part name="username" type="xsd:string" />
		<wsdl:part name="password" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="user" type="tns:user"/>
	</wsdl:message>

	<!-- 发布端口: 当方法有多个参数时需要指定parameterOrder属性 -->
	<wsdl:portType name="userService">
		<wsdl:operation name="add" parameterOrder="user">
			<wsdl:input message="tns:add" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
		<wsdl:operation name="delete" parameterOrder="username">
			<wsdl:input message="tns:delete" />
			<wsdl:output message="tns:deleteResponse" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="tns:list" />
			<wsdl:output message="tns:listResponse" />
		</wsdl:operation>
		<wsdl:operation name="login" parameterOrder="username password">
			<wsdl:input message="tns:login" />
			<wsdl:output message="tns:loginResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- 绑定服务 -->
	<wsdl:binding name="userServiceSoap" type="tns:userService">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="http://service.project.my.com/user/add" />
			<wsdl:input>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://service.project.my.com/user/delete" />
			<wsdl:input>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="list">
			<soap:operation soapAction="http://service.project.my.com/user/list" />
			<wsdl:input>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soap:operation soapAction="http://service.project.my.com/user/login" />
			<wsdl:input>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://service.project.my.com/user" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- 发布服务 -->
	<wsdl:service name="userService">
		<wsdl:port binding="tns:userServiceSoap" name="userServicePort">
			<soap:address location="http://localhost:9000/userService" />
		</wsdl:port>
	</wsdl:service>

	<!--
	WSDL文件编写好后, 使用如下命令生成服务接口代码
	wsimport -d . -p com.my.project.service.rpc -keep -verbose -Xnocompile META-INF/wsdl/user-rpc.wsdl
	Server启动后生成客户端代码
	wsimport -d . -p com.my.project.service.rpc.client -keep -verbose -Xnocompile http://localhost:9000/userService?wsdl 
	-->

</wsdl:definitions>
